<div class="edit__wrapper">
  <div class="flight">
    <div class="flight__params">
      <div class="flight__directions">
        <span class="flight__origin">{{ (origin$ | async)?.name }}</span>
        <div class="flight__round">
          <img src="../../../../../assets/icons/return-arrows.svg" alt="arrows" class="flight__arrows">
          <span class="flight__destination">{{ (destination$ | async)?.name }}</span>
        </div>
      </div>
      <div class="flight__info">
        <span class="flight__return">{{ (isRoundTrip$ | async) ? "Return" : "Depart" }}</span>
        <div class="flight__divider"></div>
        <div class="flight__date">
          <span class="flight__departure">{{ (departure$ | async) | date: 'd MMM'}}</span>
          <span *ngIf="isRoundTrip$ | async"> - </span>
          <span class="flight__arrival" *ngIf="isRoundTrip$ | async">{{ (arrival$ | async) | date: 'd MMM'}}</span>
        </div>
        <div class="flight__divider"></div>
        <div class="flight__passengers">
          <span class="flight__amount" *ngIf="passengers$ | async as pass">{{ pass.adults + pass.child + pass.infant }}</span>
          <img src="../../../../../assets/icons/person.svg" alt="icon">
        </div>
      </div>
    </div>
    <button mat-button class="flight__edit" color="primary" (click)="toggleMenu()">Edit</button>
  </div>
  <airways-edit-menu *ngIf="isMenuOpened"></airways-edit-menu>
</div>
