<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>{{ label }}</mat-label>
    <input
      placeholder="Choose your destination"
      type="text"
      matInput
      [formControl]="fieldControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectAirport($event.option.value)">
      <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
        {{ option.city_name || option.country_name }} ({{ option.code }})
        <br />
        <span style="color: grey">{{ option.name }}, {{ option.country_name }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
