.authCardContainer {
    @include flexCenterContainer();
    height: 105%;
}

.authCardContainer .authCard {
    padding: 20px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 5px;
}

.authCardContainer .authCard .mat-mdc-tab-labels {
    border: 0.5px solid $neutral-60;
    border-radius: 6px;
}

/* Set the color of the active mat-tab */
.authCardContainer .authCard .mdc-tab--active {
    @include secondary90BackgroundContainer();
    border-bottom: 0 !important;
}

.authCardContainer .mat-mdc-tab .mdc-tab__text-label, .mat-mdc-tab-link .mdc-tab__text-label {
    color: $neutral-10;
}