.authCardContainer {
    @include flexCenterContainer();
    height: 100vh;
}

.authCard {
    padding: 20px;
    width: 500px;
    background-color: #ffffff;
    border-radius: 5px;
}

.mat-mdc-tab-labels {
    border: 0.5px solid $neutral-60;
    border-radius: 6px;
}

/* Set the color of the active mat-tab */
.mdc-tab--active {
    @include secondary90BackgroundContainer();
    border-bottom: 0 !important;
}