<div class="summary">
  <div class="title">
    <mat-icon class="title__icon title__icon-summary" svgIcon="summary"></mat-icon>
    <h1>Summary</h1>
  </div>
  <div class="summary__flights">
    <airways-flight-summary *ngFor="let flight of [1,2]"></airways-flight-summary>
  </div>
  <div class="summary__payment">
    <ul class="summary__fare">
      <li *ngFor="let category of [1,2,3]">
        <airways-payment-summary></airways-payment-summary>
      </li>
    </ul>
    <div class="summary__total">
      <span>TOTAL:</span>
      <span class="total__price">{{551.38 | currency : (currency$ | async) || ''}}</span>
    </div>
  </div>
  <airways-bottom-buttons
  [isSummaryPage]="true"
  [disableContinue]="false"></airways-bottom-buttons>
</div>
