$airways-palette: (
    50 : #e2e7f0,
    100 : #b8c4d8,
    200 : #889cbf,
    300 : #5874a5,
    400 : #355791,
    500 : #11397e,
    600 : #0f3376,
    700 : #0c2c6b,
    800 : #0a2461,
    900 : #05174e,
    A100 : (background: linear-gradient(108.75deg, #0090BD 59.91%, #073590 95.36%)),
    A200 : (background: #7F8906),
    A400 : (background: #7F89064D),
    A700 : (background: #F1C933),
    A800 : (background: #F1C9334D),
    A900 : (background: #B3261E4D),
    contrast: (
        50 : #1C1B1F,
        100 : #49454F,
        200 : #454A53,
        300 : #74767A,
        400 : #74767A 60%,
        500 : #000000 25%,
        600 : #CECECE,
        700 : #74767A 20%,
        800 : #F5F5F5,
        900 : #F1F3F6 15%,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
