$primary: rgba(17, 57, 126, 1);

$secondary-0: rgba(0, 144, 189, 1);
$secondary-10: rgba(122, 191, 212, 1);
$secondary-40: rgba(208, 217, 223, 1);
$secondary-50: rgba(225, 229, 235, 1);
$secondary-60: rgba(233, 237, 241, 1);
$secondary-80: rgba(241, 243, 246, 1);
$secondary-90: rgba(244, 246, 249, 1);
$secondary-100: rgba(250, 250, 250, 1);

$highlight-blue: linear-gradient(108.75deg, rgba(0, 144, 189, 1) 59.91%, rgba(7, 53, 144, 1) 95.36%);
$highlight-green: rgba(127, 137, 6, 1);
$highlight-green-30: rgba(127, 137, 6, 0.3);
$highlight-yellow: rgba(241, 201, 51, 1);
$highlight-yellow-30: rgba(241, 201, 51, 0.3);
$highlight-pink: rgba(179, 38, 30, 0.3);

$error-color: rgba(179, 38, 30, 1);

$neutral-0: rgba(28, 27, 31, 1);
$neutral-10: rgba(73, 69, 79, 1);
$neutral-20: rgba(69, 74, 83, 1);
$neutral-30: rgba(116, 118, 122, 1);
$neutral-40: rgba(116, 118, 122, 0.6);
$neutral-50: rgba(0, 0, 0, 0.25);
$neutral-60: rgba(206, 206, 206, 1);
$neutral-70: rgba(116, 118, 122, 0.2);
$neutral-80: rgba(245, 245, 245, 1);
$neutral-90: rgba(241, 243, 246, 0.15);
$neutral-100: rgba(255, 255, 255, 1);
$neutral-black: rgba(0, 0, 0, 1);
$neutral-white:rgba(255, 255, 255, 0.85);
