$font-family: 'Roboto';

$fs-xxl: 30px;
$fs-xl: 24px;
$fs-l: 20px;
$fs-m: 16px;
$fs-s: 14px;
$fs-xs: 12px;
$fs-xxs: 8px;

$title-l: normal 400 $fs-xl/117% $font-family;
$title-m: normal 400 $fs-l/120% $font-family;
$title-s: normal 400 $fs-m/150% $font-family;

$subtitle-l: normal 400 $fs-xxl/120% $font-family;
$subtitle-m: normal 400 $fs-l/100% $font-family;
$subtitle-s: normal 400 $fs-xs/133% $font-family;

$label-l: normal 400 $fs-m/100% $font-family;
$label-m: normal 400 $fs-s/143% $font-family;
$label-s: normal 400 $fs-xs/133% $font-family;

$body-xl: normal 400 $fs-l/160% $font-family;
$body-l: normal 400 $fs-m/150% $font-family;
$body-m: normal 400 $fs-s/143% $font-family;
$body-s: normal 400 $fs-xs/133% $font-family;
$body-xs: normal 400 $fs-xxs/250% $font-family;

$font-btn: normal 400 $fs-m/125% $font-family;