<ng-template [ngIf]="tripType === 'round-trip'" ; [ngIfElse]="simpleDatepicker">
  <mat-form-field appearance="fill" class="mat-form date-picker" floatLabel="always">
    <mat-label>Date</mat-label>
    <mat-date-range-input [rangePicker]="picker" [min]="minDate">
      <input matStartDate formControlName="start" placeholder="Start date" class="mat-form__input"/>
      <input matEndDate formControlName="end" placeholder="End date" class="mat-form__input" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-error *ngIf="start.hasError('required') || end.hasError('required')">Choose a date range</mat-error>
    <mat-error *ngIf="start.hasError('matDatepickerMin')">Invalid start date</mat-error>
  </mat-form-field>
</ng-template>

<ng-template #simpleDatepicker>
  <mat-form-field class="example-full-width" appearance="fill" class="mat-form" floatLabel="always">
    <mat-label>Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="start"
      [min]="minDate"
      class="mat-form__input"
      placeholder="Choose a date"
    />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="start.hasError('required')">Choose a date</mat-error>
    <mat-error *ngIf="start.hasError('matDatepickerMin')">Invalid start date</mat-error>
  </mat-form-field>
</ng-template>
