<div class="passenger-page">
  <div class="title">
    <mat-icon fontIcon="person" class="title__icon title__icon-person"></mat-icon>
    <h1>Passengers</h1>
  </div>
  <span class="passenger-page__subtext">Enter the passenger's names as they appear on document (passport or ID).</span>
  <!-- <div class="passenger-page__card"></div> -->
  <!-- ngFor amount of customers -->
  <airways-passenger-card></airways-passenger-card>
  <div class="title">
    <mat-icon fontIcon="contact_page" class="title__icon title__icon-contact"></mat-icon>
    <h1>Contact details</h1>
  </div>
  <span class="passenger-page__subtext">We need contact details to be able to deliver the latest information regarding your flight.</span>
  <airways-bottom-buttons></airways-bottom-buttons>
</div>
