<div class="passenger-page">
    <div class="passengers-icon-container">
        <mat-icon fontIcon="person" color="primary"></mat-icon>
        <span class="passenger-heading">Passengers</span>
    </div>
    <span class="passenger-subtext">Enter the passenger's names as they appear on document (passport or ID).</span>

    <div class="passenger-card">
        
    </div>

    <div class="passengers-icon-container">
        <mat-icon fontIcon="contact_page" color="primary"></mat-icon>
        <span class="passenger-heading">Contact details</span>
    </div>
    <span class="passenger-subtext">We need contact details to be able to deliver the latest information regarding your flight.</span>
    
    <airways-bottom-buttons></airways-bottom-buttons>
</div>
