<header class="header">
  <img src="../../../../assets/images/logo.png" alt="Logo" class="header__logo" routerLink="/">
  <!-- добавить ngIf для роута -->
  <div class="header__nav">
    <div class="header__steps">
      <span class="header__book-flights">Book flights</span>
    </div>
    <ng-template #steps>
      <ul class="steps">
        <li>
          <div class="steps__icon">1</div>
          <span>Flights</span>
        </li>
        <li class="steps__line"></li>
        <li>
          <div class="steps__icon">2</div>
          <span>Passengers</span>
        </li>
        <li class="steps__line"></li>
        <li>
          <div class="steps__icon">3</div>
          <span>Review & Payment</span>
        </li>
      </ul>
    </ng-template>
    <div class="header__forms">
      <mat-form-field appearance="fill" class="header__date">
        <mat-select [(value)]="selectedDateFormat">
          <mat-option [value]="option.value" *ngFor="let option of dateFormats">{{ option.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="header__currency">
        <mat-select [(value)]="selectedCurrencyFormat">
          <mat-option [value]="option.value" *ngFor="let option of currencyFormats">{{ option.viewValue }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button class="header__sign-in">
        <img src="../../../../assets/icons/sign-in.svg" alt="icon">
        Sign in
      </button>
      <button mat-icon-button aria-label="Icon button with a basket icon" class="header__basket">
        <mat-icon svgIcon="basket" aria-hidden="false" aria-label="Basket SVG icon"></mat-icon>
      </button>
    </div>
  </div>
</header>