<div class="authButtonsContainer">
    <button mat-raised-button color="accent" (click)="onGoogleSignIn()">
        <mat-icon svgIcon="google"></mat-icon>
        Continue with Google
    </button>

    <button mat-raised-button color="accent" (click)="onGoogleSignIn()">
        <mat-icon svgIcon="facebook"></mat-icon>
        Continue with Facebook
    </button>
</div>

<div class="divider-container">
    <hr class="divider-line">
    <span class="divider-text">Divider Text</span>
    <hr class="divider-line">
  </div>
  