<div class="cart">
  <!-- <ng-container *ngIf="(items$ | async) && (items$ | async)!.length > 0; else emptyCart"> -->
    <h1 class="cart__header">Cart</h1>
    <div class="table-row table-header">
      <p class="table-header__type">Trip type</p>
      <p class="table-header__date-time">Date & Time</p>
      <p class="table-header__passengers">Passengers</p>
      <p class="table-header__priva">Price</p>
    </div>
    <airways-cart-row *ngFor="let item of items$ | async" [item]="item"></airways-cart-row>
    <div class="cart__result">
      <button mat-flat-button color="basic" class="cart__new-trip">Add new trip</button>
      <div class="cart__summary">
        Total
        <span class="cart__summary-sum">$350</span>
      </div>
    </div>
    <div class="cart__footer">
      <mat-form-field class="cart__form-field">
        <input matInput type="text" />
        <button matSuffix mat-button>APPLY</button>
      </mat-form-field>
    </div>
    <div class="cart__footer-result">
      <p class="cart__tickets-count"><span>2</span> selected</p>
    </div>
    <button mat-flat-button color="primary" (click)="addToCart()">Payment</button>
  <!-- </ng-container> -->
  <ng-template #emptyCart> Cart is empty. </ng-template>
</div>
