<div class="cart-container">
  <div class="cart">
    <!-- <ng-container *ngIf="(items$ | async) && (items$ | async)!.length > 0; else emptyCart"> -->
    <h1 class="cart__header">Cart</h1>
    <div class="table-row table-header">
      <p class="table-header__NO">No.</p>
      <p class="table-header__flight">Flight</p>
      <p class="table-header__type">Trip type</p>
      <p class="table-header__date-time">Date & Time</p>
      <p class="table-header__passengers">Passengers</p>
      <p class="table-header__price">Price</p>
    </div>
    <airways-cart-row *ngFor="let item of items$ | async" [item]="item"></airways-cart-row>
    <div class="cart__result">
      <button class="cart__new-trip">
        + Add new trip</button>
      <div class="cart__summary">
        Total
        <span class="cart__summary-sum">$350</span>
      </div>
    </div>
    <div class="cart-item-line"></div>
    <div class="cart__footer">
      <mat-form-field class="cart__form-field">
        <mat-label>Promo Code</mat-label>
        <input matInput type="text" />
        <button matSuffix mat-button class="cart__input-suffix">APPLY</button>
      </mat-form-field>
      <div class="cart__footer-result">
        <p class="cart__tickets-count"><span>2</span> selected</p>
        <button mat-flat-button color="primary" class="cart__footer-button">Payment</button>
      </div>
    </div>
    <!-- </ng-container> -->
    <ng-template #emptyCart> Cart is empty. </ng-template>
  </div>
</div>
