<footer class="footer">
  <div class="footer__info">
    <p>© 2023, AIRWAY. All rights reserved.</p>
    <div class="footer__payment payment">
      <p>We accept these payment methods</p>
      <div class="payment__container">
        <img src="../../../../assets/icons/master.svg" alt="Mastercard" class="payment__icon">
        <img src="../../../../assets/icons/pay.svg" alt="Amazon Pay" class="payment__icon">
        <img src="../../../../assets/icons/express.svg" alt="American Express" class="payment__icon">
        <img src="../../../../assets/icons/visa.svg" alt="Visa" class="payment__icon">
      </div>
    </div>
  </div>
  <div class="footer__team">
    <a href="https://github.com/sashkill94" class="footer__link">Alex</a>
    <a href="https://github.com/ciciiig" class="footer__link">George</a>
    <a href="https://github.com/nan0001" class="footer__link">Nastya</a>
  </div>
</footer>