.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 25px 155px;
  justify-content: space-between;
  background-color: $neutral-70;

  @include large {
    padding: 25px 80px;
  }

  @include medium {
    padding: 25px 30px;
  }

  &__logo {
    object-fit: contain;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
  }

  &__steps {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__book-flights {
    margin-right: 30px;
    @include body-l;
    color: $neutral-100;
  }

  .steps {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;

    &__item {
      display: flex;
      @include label-m;
      color: $neutral-30;
      padding: 10px 15px;
      gap: 8px;
    }

    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      @include label-s;
      line-height: 100%;
      color: $neutral-100;
      font-weight: 600;
      background-color: $neutral-30;
      border-radius: 100%;

      &_active {
        color: transparent;
        background: $secondary-0 url('../../../assets/icons/active.svg') 3px/60% no-repeat;
      }

      &_done {
        color: transparent;
        background: $secondary-0 url('../../../assets/icons/done.svg') center/60% no-repeat;
      }
    }

    &__divider {
      height: 1px;
      background-color: $neutral-40;
      flex-grow: 1;
    }
  }

  &__forms {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
  }

  &__date,
  &__currency {
    .mdc-text-field--filled {
      background-color: $neutral-90;
      border: 0.5px solid $neutral-60;
      border-radius: 4px;
    }

    .mdc-text-field {
      @include large {
        padding: 0 10px;
      }
    }

    .mat-mdc-select-value-text,
    .mat-mdc-select-arrow {
      @include label-l;
      color: $neutral-100;

      @include large {
        @include label-m;
      }
    }

    .mat-mdc-form-field-infix {
      width: fit-content;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      min-height: auto;
    }

    .mat-mdc-select-arrow-wrapper {
      margin-left: 10px;
    }

    .mdc-line-ripple::before {
      border: none;
    }

    .mat-mdc-select-arrow-wrapper {
      height: auto;
    }
  &__forms {
    display: flex;
    align-items: center;
    width: 60%;
    gap: 2%;
    padding: 0 20px;
  }

  &__currency {
    .mat-mdc-select-arrow-wrapper {
      display: none;
    }
  }

  &__sign-in {
    &.mdc-button {
      height: 40px;
      padding: 10px 15px;
      background-color: $neutral-90;
      border: 0.5px solid $neutral-60;
      border-radius: 4px;
    }


    .mat-mdc-form-field-infix {
      width: fit-content;
    }

    .mdc-button__label {
      display: flex;
      align-items: center;
      gap: 8px;
      @include font-btn;
      color: $neutral-100;
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}
