<div class="way__container" *ngIf="(origin$ | async); else no_tickets">
  <div class="title">
    <mat-icon class="title__icon title__icon-flight">flight</mat-icon>
    <h1>
      {{ ((isBack? destination$ : origin$) | async)?.name }} to
      {{ ((isBack? origin$ : destination$) | async)?.name }}
    </h1>
  </div>
  <airways-calendar [isBack]="isBack" *ngIf="!itemSelected"></airways-calendar>
  <airways-flight-info [isBack]="isBack" (selectTicket)="changeDisplay($event)"></airways-flight-info>
</div>
<ng-template #no_tickets>
  <p>Looks like there are no tickets for your query</p>
</ng-template>
