@use '../src/app/material-design/_airwaysTheme.scss';

@import './app/styles/mixins';
@import './app/styles/constants';
@import './app/styles/components';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; background-color: #D9D9D9; }
* {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  background-color: $neutral-80;
}

airways-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1128px;
  margin-top: 90px;

  @include large {
    padding: 0px 35px;
  }

  @include medium {
    padding: 0px 30px;
  }

  @include small {
    padding: 0px 10px;
  }

}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.mdc-text-field--filled {
  background-color: $neutral-90;
  border: 0.5px solid $neutral-60;
  border-radius: 4px !important;
}

.mdc-text-field--invalid {
  border: 0.5px solid var(--mdc-theme-error, #b3261e);
}

.mdc-line-ripple::before {
  display: none;
}


// MEDIA FOR MAT-SELECT

.cdk-overlay-container {
  @include large {
    @include label-m;

    .mat-mdc-option {
      padding-left: 8px !important;
      padding-right: 8px !important;
    }

    .mat-mdc-option .mat-pseudo-checkbox-minimal {
      margin-left: 8px !important;
    }

    .mat-pseudo-checkbox {
      width: 9px !important;
      height: 9px !important;
    }

    .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
      width: 9px;
      height: 4px;
    }
  }

  @include small {
    @include label-s;

    .mat-mdc-option {
      min-height: 24px !important;
    }
  }
}
