<ng-container class="footer">
  <div class="footer__info">
    <p>© 2023, AIRWAY. All rights reserved.</p>
    <div class="footer__payment">
      <p>We accept these payment methods</p>
      <div class="footer__icons">
        <div class="footer__icon master"></div>
        <div class="footer__icon paypal"></div>
        <div class="footer__icon express"></div>
        <div class="footer__icon visa"></div>
      </div>
    </div>
  </div>
  <div class="footer__team">
    <a href="https://github.com/sashkill94">Alex</a>
    <a href="https://github.com/ciciiig">George</a>
    <a href="https://github.com/nan0001">Nastya</a>
  </div>
</ng-container>