<div class="home-wrapper">
  <form class="search-form" [formGroup]="searchForm">
    <mat-radio-group aria-label="Select an option" formControlName="tripType">
      <mat-radio-button value="round-trip" checked>Round trip</mat-radio-button>
      <mat-radio-button value="one-way">One Way</mat-radio-button>
    </mat-radio-group>

    <div class="travel-scheme">
      <airways-airway-autocomplete
        label="From"
        [controlName]="'from'"
      ></airways-airway-autocomplete>
      <airways-airway-autocomplete
        label="Destination"
        [controlName]="'destination'"
      ></airways-airway-autocomplete>
      <div class="swap-button" (click)="swapFields()">
        <mat-icon>sync_alt</mat-icon>
      </div>
    </div>

    <div class="date-passengers">
      <airways-home-date-picker
        [dateFormat]="dateFormat$ | async"
        [tripType]="searchForm.controls['tripType'].value"
      ></airways-home-date-picker>

      <airways-persons-selector></airways-persons-selector>
    </div>
    <button mat-raised-button color="primary" (click)="onSearchFormSubmit()" style="margin-left: 200px;">Search</button>
  </form>
</div>
